:root {
  --background: #fb5;
  --textprimary: #222;
  --textsecundary: #e54;
  --fundo: #dbdad8;
  --fundo2: rgba(207, 202, 202, 0.836);
}
* {
  margin: 0;
  padding: 0;
}
body {
  display: grid;
  grid-template-columns: 1fr 62.5rem 1fr;
  background: var(--fundo2);
}
nav {
  grid-column: 1/4;
  background: var(--background);
  margin-bottom: 1rem;
}
.container {
  grid-column: 2;
}
.menu {
  display: flex;
  gap: 1.25rem;
  list-style: none;
  justify-content: center;
  margin: 20px;
  padding: 10px;
}
.menu a {
  text-decoration: none;
  color: var(--textprimary);
  font-size: 0.875rem;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
.menu a:hover {
  color: var(--textsecundary);
}
.titulo {
  font-size: 6rem;
  line-height: 1;
  font-weight: 400;
  margin-bottom: 0;
  grid-column: 1/4;
  text-transform: uppercase;
  margin-top: 0;
  padding: 20px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
  width: min-content;
}
.animais {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
}

.animais-lista {
  display: flex;
  overflow-x: scroll;
  scroll-behavior: smooth;
  width: 56.25rem;
  height: 18.75rem;
  margin: 1rem 3.125rem;
}
.animais-lista img {
  width: 18.75rem;
  height: 100%;
}
.animais-lista li {
  cursor: pointer;
  height: 280px;
}
.animais-descricao h2 {
  color: var(--textsecundary);
  text-align: center;
  font-size: 30px;
}
.animais-descricao strong {
  color: var(--background);
}
.animais-descricao p {
  margin: 1rem 3.125rem;
  font-size: 18px;
  line-height: 1.2;
}
.faq {
  margin-bottom: 2rem;
}
.faq dl {
  margin: 10px 80px;
}
.faq dt {
  margin-bottom: 1rem;
  position: relative;
  cursor: pointer;
  width: min-content;
  white-space: nowrap;
}
.faq dt::before {
  content: "";
  width: 20px;
  height: 10px;
  display: inline-block;
  background: var(--background);
  position: absolute;
  top: 4px;
  left: -30px;
}
.faq dt:hover {
  color: var(--textsecundary);
}
.faq dd {
  margin: 0 1rem;
  margin-bottom: 1rem;
}
.faq strong {
  color: var(--textsecundary);
}
.contato {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
}
.contato div {
  display: flex;
  gap: 2rem;
  margin: 10px 50px;
}
.contato img {
  width: 400px;
  height: 400px;
}
.contato ul {
  padding-top: 100px;
}
.contato li {
  font-size: 1.5rem;
  list-style: none;
  margin-bottom: 1.5rem;
}
.contato strong {
  color: var(--textsecundary);
}
footer {
  grid-column: 1/4;
  background: var(--background);
  margin-bottom: 1rem;
  margin: 0;
}
footer p {
  padding: 20px;
  text-align: center;
  font-size: 1.25rem;
}
.js .js-tabcontent section {
  display: none;
}
.js-tabcontent section.ativo {
  display: block !important;
  animation: show 0.5s forwards;
}
@keyframes show {
  from {
    opacity: 0;
    transform: translate3d(-30px, 0, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
.js .js-accordion dd {
  display: none;
}
.js-accordion dt::after {
  content: "⤵";
  margin-left: 10px;
}
.js-accordion dt.ativo::after {
  content: "⤴";
  margin-left: 10px;
}
.js-accordion dd.ativo {
  display: block;
  animation: slidedown 0.5s forwards;
}
@keyframes slidedown {
  from {
    opacity: 0;
    max-height: 0;
  }
  to {
    max-height: 1500px;
    opacity: 1;
  }
}
.js .js-scroll {
  opacity: 0;
  transform: translate3d(-30px, 0, 0);
  transition: 0.3s;
}
.js-scroll.ativo {
  opacity: 1;
  transform: translate3d(0, 0, 0);
}

@media (max-width: 960px) {
  body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .titulo {
    font-size: 3rem;
    text-align: center;
    margin: 0 auto;
    white-space: nowrap;
  }
  nav,
  .container,
  .animais,
  .faq,
  .contato,
  footer {
    width: 960px;
  }
  .animais-lista {
    width: 600px;
    margin: 0 180px;
  }
  .animais-descricao {
    width: 800px;
    margin: 80px;
  }
  .faq,
  .contato {
    margin: 0 auto;
    width: 800px;
  }
  .faq dl {
    margin: 0 80px;
  }

  .faq dd {
    width: 650px;
  }
  .contato img {
    width: 300px;
    height: 300px;
  }
  .contato li {
    font-size: 1.25rem;
  }
  .contato ul {
    padding: 85px 0;
  }
}
@media (max-width: 900px) {
  .container,
  .animais,
  .faq,
  .contato {
    width: 700px;
  }
  body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  nav li{
    flex-wrap: wrap;
  }

  .titulo {
    font-size: 2.5rem;
    text-align: center;
    margin: 0 auto;
    white-space: nowrap;
  }
  .animais-lista {
    margin: 0 auto;
    width: 600px;
  }
  .animais-descricao {
    width: 600px;
    margin: 0 auto;
  }
  .faq dl {
    margin: 0 80px;
  }

  .faq dd {
    width: 500px;
  }
  .contato img {
    width: 300px;
    height: 300px;
  }
  .contato li {
    font-size: 0.875rem;
  }
  .contato ul {
    padding: 85px 0;
  }
}


@media (max-width:620px){
  .container,
  .animais,
  .faq,
  .contato {
    width: 500px;
    margin: 0 auto;
  }
  .titulo{
    font-size: 1.5rem;
    padding: 10px 0;
  }
  .animais-lista{
    width: 300px;
  }
  .animais-descricao{
    width: 500px;
  }
  .animais-descricao p{
    font-size: 1rem;
  }
  .faq dt{
    width: 400px;
    white-space:normal;
  }
  .faq dd{
    width: 350px;
  }
  .contato img {
    margin: 0 auto;
    width: 300px;
    height: 300px;
  }
  .contato div{
    display: flex;
    flex-direction: column;
  }
  .contato li {
    font-size: 1rem;
  }
  .contato ul {
    padding: 10px 0;
    margin: 0 auto;
  }
}
@media (max-width:500px){
  .container,
  .animais,
  .faq,
  .contato {
    width: 400px;
    margin: 0 auto;
  }
  .titulo{
    font-size: 1.5rem;
    padding: 10px 0;
  }
  .animais-lista{
    width: 300px;
  }
  .animais-descricao{
    width: 400px;
  }
  .animais-descricao p{
    font-size: 1rem;
  }
  .faq dt{
    width: 300px;
    white-space:normal;
  }
  .faq dd{
    width: 250px;
  }
  .contato img {
    width: 300px;
    height: 300px;
    margin: 0 auto;
  }
  .contato div{
    display: flex;
    flex-direction: column;
  }
  .contato li {
    font-size: 0.875rem;
  }
  .contato ul {
    padding: 10px 0;
    margin: 0 auto;
  }
}